/*Image links {Necesarry because pic downloads got screwed up}
Background: https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png
*/
html {
  font-family: Helvetica;
  text-align: center;
}
.background-image {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.links {
  font-size: 18px;
  color: white;
}
#process h2{
  font-size: 32px;
  font-weight: bold;
}
.minortitles {
  font-size: 23px;
  font-weight: bold;
}
.description {
  font-size: 14px;
}
#new_york {
  font-size: 23px;
  font-weight: bold;
  color: white;
}
#b_links {
  background-color: dimgray;
  text-align: left;
}
#copyright {
  font-size: 11px;
  color: white;
}
